{% extends 'base_auth.html' %}
{% load static %}

{% block title %}Registrar / PFinance{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="card p-3 shadow-sm text-light mt-4" style="background-color: rgba(35,35,35,0.71); max-width: 500px">
        <h2 class="text-center mb-3 fw-bold text pb-3">Crea una cuenta</h2>
        <form method="post" class="row g-2">
            {% csrf_token %}

            <!-- Campos de usuario -->
                <div class="mb-3">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {% for error in form.username.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {% for error in form.email.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>

                <!-- Campos de contraseña -->
                <div class="mb-3">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                    {% if form.password1.help_text %}
                    <small class="form-text text-muted">{{ form.password1.help_text }}</small>
                    {% endif %}
                    {% for error in form.password1.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                    {% if form.password2.help_text %}
                    <small class="form-text text-muted">{{ form.password2.help_text }}</small>
                    {% endif %}
                    {% for error in form.password2.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>

                <!-- Campos del perfil -->
                <div class="mb-3">
                    {{ form.monthly_income.label_tag }}
                    {{ form.monthly_income }}
                    {% for error in form.monthly_income.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.currency.label_tag }}
                    {{ form.currency }}
                    {% for error in form.currency.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="mb-3 form-check">
                    {{ form.notification_app }}
                    <label class="form-check-label" for="{{ form.notification_app.id_for_label }}">
                        {{ form.notification_app.label }}
                    </label>
                    {% for error in form.notification_app.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>

            <!-- Botón de registrarse -->
            <div class="mt-3 text-center">
                <button type="submit" class="btn btn-danger w-100 py-2 fs-5 fw-bold rounded-3">Registrarse</button>
            </div>
            <p class="text-center mt-2 text-light small">¿Ya tienes cuenta? <a href="{% url 'pfinance:login' %}" class="text-danger">Inicia sesión</a></p>
        </form>
    </div>
</div>
{% endblock %}